<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTestSet">
    
    <test thread-count="5" name="Login_out">
    <classes>
      <class name="com.engcpp.LoginTest"/>
    </classes>
  </test> <!-- Login_out -->
    
    <test thread-count="5" name="iVAL">
    <classes>
      <class name="com.engcpp.IVALReportsTest"/>
    </classes>
  </test> <!-- iVAL -->
  
  <test thread-count="5" name="Commercial_Reports">
    <classes>
      <class name="com.kashifi.Std_BizReportTest"/>
      <class name="com.kashifi.Adv_BizReportTest"/>
    </classes>
  </test> <!-- Commercial_Report -->
  </suite> <!-- SmokeTestSet -->
