<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeTestSet">
	
	<listeners>
         <listener class-name="com.kashifi.testng.TestngCustReporter"/>
    </listeners>
   
   <test thread-count="5" name="Login_LogOut">
    <classes>
      <class name="com.engcpp.LoginTest"/>
    </classes>
	</test> <!-- Login_LogOut -->
  
 </suite> <!-- SmokeTestSet -->
